<header class="hidden fixed top-0 backdrop-blur-lg bg-black/10 md:flex justify-between py-5 w-full mx-auto px-5 xl:px-0">
    <div class="flex justify-between h-14 pt-5 w-full mx-auto px-5 xl:px-0 lg:w-[1120px]">
        <img class="rounded-full w-12 h-12" src="foto_dev.jpeg" alt="andres_foto">
        <nav class="flex gap-x-10 flex-row opacity-80">
            <a href="#top">
                Inicio
            </a>
            <a href="#experiencia">
                Experiencia
            </a>
            <a href="#sobre-mi">
                Sobre mi
            </a>
            <a href="#proyectos">
                Proyectos
            </a>
            <a href="#contacto">
                Contacto
            </a>
        </nav>
    </div>
</header>